@import "/src/assets/styles/helpers/variables";

.errorPage {
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  width: 80%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $accent;
  & > div {
    font-size: 2rem;
    font-weight: 700;
  }
  & > p {
    font-size: 15rem;
    line-height: 100%;
    background-color: $accent;
    border-radius: 999rem;
    width: 15rem;
    color: $white;
    font-weight: 700;
    margin-bottom: 4rem;
  }
  & > span {
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    line-height: 3rem;
    justify-content: center;
    color: $accent;
    font-weight: 400;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    border: none;

    &:hover {
      font-weight: 500;
      color: $primary;
    }
  }
}
