@import "/src/assets/styles/helpers/variabels";

.filter {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  gap: 1rem;
  width: 30%;
  border-left: 0.125rem solid $background;
  border-right: 0.125rem solid $background;
  & input {
    border: 0;
    width: 100%;
    font-size: 1.25rem;
    font-weight: 600;
    color: $accent;
    &::placeholder {
      font-weight: 400 !important;
      font-size: 1rem;
      color: $placeholder;
    }
    &:focus-visible {
      outline-width: 0;
    }
  }
}
